.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  padding-left: 19px;
  padding-right: 19px;
  right: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s linear;
  justify-content: center;
}
.modal_opened {
  /* display: flex; */
  visibility: visible;
  opacity: 1;
  transition: 0.2s linear;
}
.modal__content {
  position: relative;
  background-color: white;
  margin: auto;
  /* width: 358px; */
  /* box-sizing: border-box;
  width: 100%; */
  border-radius: 10px;
  /* box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15); */
  padding: 34px 36px 37px 36px;
  border-radius: 10px;
  width: 430px;
  max-height: 330px;
}

.modal__heading {
  max-width: 330px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-top: 0px;
  margin-bottom: 54px;
}

.modal__close {
  background-image: url("../images/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  /* margin: auto; */
}

/* .modal__form-input {
  border: 1px solid transparent;
  border-bottom: 1px rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 17px;
  text-align: left;
  margin-top: 30px;
  padding-bottom: 13px;
} */

.modal__button {
  display: flex;
  height: 50px;
  margin-top: 18px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  align-items: center;
  justify-content: space-around;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.modal__button-text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;

  height: 18px;
  max-width: 109px;
  margin: 13px 0 18px 0;
}
.modal__input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 28px;
  /* width: 100%; */
  height: 47px;
  margin-bottom: 30px;
  padding-bottom: 14px;
  border-top: none; /* remove border line*/
  border-left: none;
  border-right: none;
}
.modal__content-preview {
  width: 240px;
  height: 299px;
  padding: 0;
}
.modal__preview-image {
  width: 240px;
  height: 299px;
}
.modal__preview-title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  width: 291px;
  height: 12px;
}

@media screen and (max-width: 450px) {
  .modal {
    width: 282px;
    /* height: 322px; */
  }
  .modal__content {
    max-width: 282px;
    /* max-height: 322px; */
    padding: 25px 22px 25px 22px;
    border: 1px;
    width: 100%;
    max-width: calc(100% - 19px * 2);
  }

  .modal__close {
    top: -40px;
    left: calc(100% - 30px);
    width: 26px;
    height: 26px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 45px;
  }
  .modal__form-input {
    padding-bottom: 9px;
  }
  .modal__button {
    width: 238px;
    height: 46px;
    flex-shrink: 0;
    /* margin-top: 15px; */
  }
  .modal__content_preview {
    width: 433px;
    height: 540px;
    padding: 0;
  }
  .modal__image {
    width: 433px;
    height: 540px;
  }
  .modal__close_preview {
    width: 40px;
    height: 40px;
    left: calc(100% + 5px);
    bottom: calc(100% + 5px);
  }
}
