.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  padding: 0 19px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  justify-content: center;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__content {
  position: relative;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  padding: 0 36px;
  width: 358px;
  max-height: 330px;
}

.modal__heading {
  max-width: 330px;
  max-height: 29px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 34px 0 54px;
}

.modal__close {
  background-image: url("../images/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: center;
}

.modal__input {
  font-family: "Inter", sans-serif;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 14px;
  line-height: 17px;
  /* margin-top: 30px; */
  padding: 0 0 13px;
  border-top: none;
  width: 358px;
  height: 28px;
}

.modal__button {
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  height: 50px;
  max-width: 100%;
  background-color: #000;
  border: none;
  border-radius: 2px;
  text-align: center;
  margin: 48px 0 37px;
  padding: 0;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 358px;
}

.modal__button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.modal__button-text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  height: 18px;
  max-width: 109px;
  margin: 13px 0 18px 0;
}

.modal__content-preview {
  margin: auto;
  position: relative;
  padding: 0;
}
.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}
.modal__preview-title {
  position: absolute;
  margin: 0;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14.52px;
  width: 291px;
  height: 12px;
  bottom: -22px;
}

@media screen and (max-width: 450px) {
  /* .modal {
    width: 238px;
    height: 322px;
  } */
  .modal__content {
    max-width: 282px;
    /* max-height: 322px; */
    /* padding: 25px 22px 25px 22px; */
    padding: 0 22px;
    /* width: 238px; */
    height: 322px;
  }

  .modal__close {
    top: -40px;
    left: calc(100% - 30px);
    width: 26px;
    height: 26px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 45px;
  }
  .modal__input {
    padding-bottom: 9px;
    width: 238px;
  }
  .modal__button {
    width: 238px;
    height: 46px;
    flex-shrink: 0;
    /* margin-top: 15px; */
  }
  .modal__content_preview {
    width: 433px;
    height: 540px;
    padding: 0;
  }
  .modal__preview-image {
    width: 240px;
    height: 299px;
    /* display: flex; */
  }
  .modal__close_preview {
    width: 40px;
    height: 40px;
    left: calc(100% + 5px);
    bottom: calc(100% + 5px);
  }
}
